.App {
  max-width: 680px;
  margin: 50px auto;
}

footer {
  display: 0 auto;
  text-align: center;
  font-size: 14px;
  color: black;
}

footer .author {
  text-decoration: none;
  color: black;
}
footer .author:hover {
  color: white;
}
